// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
//

@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
@import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
@import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/dropdown";

// Overrides

@import "foundation-overrides";

// Compass Mixins
@import "compass/css3/text-shadow";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";

@include sticky-footer(36px, "#root", "#root_footer", "#footer");
@include sticky-footer(36px, "#root", "#root_footer", "#footer-profile");

/* ============================= 
         Color Styles
   ============================= */ 
   
$textGray: #9b9896; 
$placeGray: #585858;
$graySocial: #a3a19e;
$lightBlue: #6aa3b4;
/* ============================= 
         Major Structural Styles
   ============================= */
html {background: #1A1A1A}

html, body, .background {height: 100%;width: 100%;margin:0; padding:0;background: url('../images/patterns/dimension.png');}


/* ============================= 
         Typography Styles
   ============================= */
.reveal-modal h2, .reveal-modal p {color: white}
.main h1, .main h2,.main h3, .main h4, .main h5, .main h6 {font-family: 'klinic_slabbold',serif} 

h3.postTitle {font-family: 'helvetica neue',helvetica;font-weight: 100;display: inline-block;float: left;padding-top: 3px }

.light {color: white; @include text-shadow(-3px 2px 18px rgba(9,12,18,.75)) ;}

.lightBlue {color: $lightBlue}

.lightFont {font-family: 'klinic_slablight'}

p {font-family: 'helvetica neue',helvetica,sans-serif;text-align: center;font-weight: 100}
/* ============================= 
         Main Body Styles
   ============================= */

#background-pattern {position: absolute;
top: 0;
left: 0;
width: 100%;
background: rgba(0,0,0,.05) url('../images/patterns/bkg-pattern.png');
background-size: 2px 2px;
z-index: 2;}

#background-pattern-two {position: absolute;
top: 0;
left: 0;
width: 100%;
background: rgba(0,0,0,.0) url('../images/patterns/dimension.png');
z-index: -1;}

#background-pattern-three {position: absolute;
top: 0;
left: 0;
width: 100%;
min-height:420px;
height:auto !important;        /* for IE as it does not support min-height */
height:420px;                   /* for IE as it does not support min-height */
background: rgba(0,0,0,.001) url('../images/patterns/bkg-pattern-2.png');
z-index: 2;}

.main {position: relative;z-index: 3;
min-height:536px;
height:auto !important;        /* for IE as it does not support min-height */
height:536px;                   /* for IE as it does not support min-height */
margin-bottom: 5%;
overflow: hidden}

.callout {text-align:center;margin-top: 200px}

.callout h1, .callout h5 {margin-bottom: .1em}

.signUp {padding-top: 4%}

.infoGrid {
position: absolute;
bottom: 5%
}

.helpGrid {position: relative;float: left}

.helpGridInner {
min-height:216px;
height:auto !important;        /* for IE as it does not support min-height */
height:216px;                   /* for IE as it does not support min-height */	
background: rgba(0,0,0,.4);	
display: block;
text-align:center;
color: white;
padding-bottom: 20px 
}
.helpGridInner h4 {color: white;font-family: 'klinic_slabmedium',serif}

.helpGridInner .link {

display: block;
width: 150px;
margin: 0 auto;
border: 1px solid rgba(255, 255, 255, 0.8);
color: white;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
text-transform: uppercase;
font-size: .8em;
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.07);
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.21);
-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.21);
-ms-box-shadow: inset 0 0 2px rgba(0,0,0,0.21);
-o-box-shadow: inset 0 0 2px rgba(0,0,0,0.21);
box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.21);
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;	
text-align: center
	
}

.helpGridInner .link:hover {
	background: rgba(255,255,255,.3);
-webkit-transition: background .4s ease-in;
-moz-transition: background .4s ease-in;
-ms-transition: background .4s ease-in;
-o-transition: background .4s ease-in;
transition: background .4s ease-in;
}

.entype {font-family: 'entypo';color: #f1f1f1;font-size: 120px;margin-bottom: 0;line-height: .8em;text-align: center}

.entype-black {font-family: 'entypo';color: #313131;font-size: 70px;margin-bottom: 0;line-height: .8em;display: inline-block;float: left;padding-right: 15px;}

.helpGridInner:hover {
background: rgba(89,215,255,.48);
-webkit-transition: background .4s ease-in;
-moz-transition: background .4s ease-in;
-ms-transition: background .4s ease-in;
-o-transition: background .4s ease-in;
transition: background .4s ease-in;
		
} 
.specialGrid {color: white;background:  rgba(0,0,0,.6);	border-radius: 10px;text-align: center;margin-top: 14%;padding: 2%}
.specialGrid p {margin-bottom: 0;font-weight: 100}

.row .row {margin-left:0;margin-right:0}

/* ============================= 
         Page Styles
   ============================= */
   
.lftFloat {margin-left: 0;margin-right: 0}

.sideCol, .mainCol {background: rgba(0,0,0,.0) url('../images/patterns/dimension.png');padding-top: 6%}

.sideCol {
background: white;
}

.mainCol {
margin: auto;
padding-bottom: 20%}

.mainCol {-webkit-box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, .2);
        box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, .2);}

.post {
min-height:232px;
height:auto !important;        /* for IE as it does not support min-height */
height:232px;                   /* for IE as it does not support min-height */	
-webkit-box-shadow:  0px 0px 9px 1px rgba(0, 0, 0, .2);
box-shadow:  0px 0px 9px 1px rgba(0, 0, 0, .2);
display: block;
width: 100%;
overflow: hidden;
background: white;
margin-bottom: 20px
}

.Thumb img {max-width: 100%;width: 100%;max-height: 100%}

.postHead {

min-height:82px;
height:auto !important;        /* for IE as it does not support min-height */
height:82px;                   /* for IE as it does not support min-height */		
background: #f0f0f0;	
overflow: hidden
}

.postBody p {text-align: left;padding-left: .9375em;margin-bottom: .2em}

.linkMore {float: right}

/* ============================= 
         Profile Page Styles
   ============================= */

.coverSlide {width: 100%;
min-height:420px;
height:auto !important;        /* for IE as it does not support min-height */
height:420px;                   /* for IE as it does not support min-height */	
display: block;
margin-top: -45px;
z-index: 20}

.specialRow {display: block;display: block;position: absolute;left:0;z-index: 1}
.specialLeft {background: white;display: block;height: 100%}

.left {margin:0;z-index: 19;margin-top: -163px;padding-left:0;background: white}

.left p {text-align: left}

.profile {background: white;height: 108%;z-index: 9;margin-top: -163px;position: absolute;margin:0;}

.eventBlock {width: 100%;
position: relative;
display: block;
height: 60px;
margin-top: -45px;
z-index: 10;
float: right
}

.socialShare {background: rgba(255,255,255,.75);
width: 100%;display: block;height:45px}

.socialList {float: right}

.eye {font-size: 38px}

.socialList li {font-family: 'socialicoregular'; color: $graySocial;font-size: 32px;text-transform: uppercase;border-left: 1px solid white}

.socialShare .inline-list > li {padding-right: .5em;padding-left: .5em;margin-left: 0}

.profileGrid li {margin-top: 20px}

.num {font-family: 'klinic_slabmedium';color: #2ba6cb}
.numImg {font-size: 48px}
.profileGri {font-size: 18px}
.inline-list > li > * {display: inline-block}
.profileGri {text-align: center;margin-top: -16px;margin-bottom: 14px}
.profileGrid .inline-list > li {margin-left: .5em}
.hel {font-size: 9px;color: gray}
.para p {font-size: 14px;line-height: 1.2em;font-weight: 300}
.contactBar .side-nav li {margin-bottom: 1.25em;line-height: 20px;}
.contactBar .side-nav li a {font-family: 'entypo';font-size: 34px;margin-bottom: .5em}
.sid {list-style-position: inside;list-style-type: circle;margin-left: 20px}
.fb {position: absolute;right: 10px;bottom: 55px}
/* ============================= 
         Footer Styles
   ============================= */

#stretch-y {
  @extend .stretched;
  @include stretch-y; 
  z-index: 18}
  
  
.footer {
position: relative;
width: 100%;
min-height:36px;
height:auto !important;        /* for IE as it does not support min-height */
height:36px;                   /* for IE as it does not support min-height */
line-height: 36px;
z-index: 20;
padding-top: 6px;
background: rgba(7,7,7,1);}
.copyright {float:left;display:inline-block}
.footmenu {width: 48%;float:right;display:inline-block}

.footer .inline-list, .copyright p {margin-bottom: 0;color: #eaeaea;font-family: 'helvetica neue',helvetica,sans-serif;text-transform: lowercase;font-variant: small-caps;font-weight: 100}
.footer .inline-list {float: right}
.footer .inline-list > li {margin-left: 1.075em;}
.footer .inline-list > li:last-child .divider {display: none}
.footer .inline-list a {color: #eaeaea;font-family: 'klinic_slablight',serif;text-transform: lowercase;font-variant: small-caps}

/* ============================= 
         Form Styles
   ============================= */

input[type="text"] {
-webkit-border-radius: 6px;
border-radius: 6px;
background: rgba(255,255,255,.6);
color: $textGray;
font-size: 14px}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $placeGray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $placeGray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $placeGray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $placeGray;
}

.button {
background: rgb(206,206,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(114,114,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(114,114,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(114,114,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(114,114,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(114,114,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(114,114,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#727272',GradientType=0 ); /* IE6-9 */

border:none;
-webkit-border-radius: 4px;
border-radius: 4px;	
font-weight: 300;
font-family: 'klinic_slabmedium','helvetica neue', helvetica,sans-serif;
font-size: 18px;
margin-bottom: 0
}

.buttonB {
	background: rgb(150,214,228); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(150,214,228,1) 0%, rgba(45,173,201,1) 3%, rgba(40,170,200,1) 6%, rgba(37,169,199,1) 11%, rgba(7,155,190,1) 40%, rgba(1,153,188,1) 49%, rgba(0,109,153,1) 97%, rgba(30,114,140,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,214,228,1)), color-stop(3%,rgba(45,173,201,1)), color-stop(6%,rgba(40,170,200,1)), color-stop(11%,rgba(37,169,199,1)), color-stop(40%,rgba(7,155,190,1)), color-stop(49%,rgba(1,153,188,1)), color-stop(97%,rgba(0,109,153,1)), color-stop(100%,rgba(30,114,140,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(150,214,228,1) 0%,rgba(45,173,201,1) 3%,rgba(40,170,200,1) 6%,rgba(37,169,199,1) 11%,rgba(7,155,190,1) 40%,rgba(1,153,188,1) 49%,rgba(0,109,153,1) 97%,rgba(30,114,140,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(150,214,228,1) 0%,rgba(45,173,201,1) 3%,rgba(40,170,200,1) 6%,rgba(37,169,199,1) 11%,rgba(7,155,190,1) 40%,rgba(1,153,188,1) 49%,rgba(0,109,153,1) 97%,rgba(30,114,140,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(150,214,228,1) 0%,rgba(45,173,201,1) 3%,rgba(40,170,200,1) 6%,rgba(37,169,199,1) 11%,rgba(7,155,190,1) 40%,rgba(1,153,188,1) 49%,rgba(0,109,153,1) 97%,rgba(30,114,140,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(150,214,228,1) 0%,rgba(45,173,201,1) 3%,rgba(40,170,200,1) 6%,rgba(37,169,199,1) 11%,rgba(7,155,190,1) 40%,rgba(1,153,188,1) 49%,rgba(0,109,153,1) 97%,rgba(30,114,140,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d6e4', endColorstr='#1e728c',GradientType=0 ); /* IE6-9 */

border:none;
-webkit-border-radius: 4px;
border-radius: 4px;	
font-weight: 300;
font-family: 'klinic_slabmedium','helvetica neue', helvetica,sans-serif;
font-size: 18px;
margin-bottom: 0	
}

.prefix {height: 2.25em}
/* ============================= 
         Media Queries
   ============================= */
/* Available Variables */
$small-screen: emCalc(768);
$medium-screen: emCalc(1280);
$medium-med-screen: emCalc(1060);
$large-screen: emCalc(1440);

$screen: "only screen";
$small: "only screen and (min-width:"#{$small-screen}")";
$max-small: "only screen and (max-width:"#{$small-screen}")";
$max-medium: "only screen and (max-width:"#{$medium-med-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} {

}


/* Used to alter styles for screens at max 768px wide. This is where the grid changes. */
@media #{$max-small} {
.copyright,.footer .inline-list {width: 100%;display: block;text-align: center;float: none}
.footmenu {margin-left: auto;margin-right: auto;float: none !important;position: relative;width: 100%;display: inline-block;}
.helpGridInner {min-height:96px;height:auto !important;height:96px;}
.pad {padding-top: 20px}
#megaMenu ul.megaMenu > li#menu-item-31 > a {display:none}
.copyright {width: 48%;}
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} {
.copyright {margin-left: 4%}
.footer .inline-list {margin-right: 4%} 
.helpGridInner {min-height:216px;height:auto !important;height:216px;}
}

/* Used to alter styles for screens at least 1060px wide. */
@media #{$max-medium} {.helpGridInner {min-height:96px;height:auto !important;height:96px;}
.pad {padding-top: 20px} 
.infoGrid {
bottom: 10%;}
.specialGrid {margin-top: 5%;}
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} { }

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} { }

/* Apply styles to screens in landscape orientation */
@media #{$landscape} {
 }

/* Apply styles to screens in portrait orientation */
@media #{$portrait} { 
 }

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .helpGridInner {min-height:116px;height:auto !important;height:116px;}

/* ============================= 
         Font Imports
   ============================= */

@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabmedium';
    src: url('../fonts/klinicslabmedium.eot');
    src: url('../fonts/klinicslabmedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabmedium.woff') format('woff'),
         url('../fonts/klinicslabmedium.ttf') format('truetype'),
         url('../fonts/klinicslabmedium.svg#klinic_slabmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slablight';
    src: url('../fonts/klinicslablight.eot');
    src: url('../fonts/klinicslablight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslablight.woff') format('woff'),
         url('../fonts/klinicslablight.ttf') format('truetype'),
         url('../fonts/klinicslablight.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabbold';
    src: url('../fonts/klinicslabbold.eot');
    src: url('../fonts/klinicslabbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinicslabbold.woff') format('woff'),
         url('../fonts/klinicslabbold.ttf') format('truetype'),
         url('../fonts/klinicslabbold.svg#klinic_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}